<!--Mise en page email Inscription-->
<div style="background-color:transparent; padding:5px;border-radius: 10px;">
    <div style="background-color:#006080;border-radius: 10px;
  border: 1px solid #464545;
  text-align: left; padding:10px;">
        <p style="color:white">Bonjour, votre inscription sur le site guillaumegeorges.fr a bien été prise en compte!</p>
        <br>
        <p style="color:white">Voici le contenu de votre profil :</p>
        <br>
        <hr style="color:#464545">
        <p style="color:white"><b style="text-decoration:underline">Nom</b> : <span style="color:white">{{ utilisateur.nom }}</span></p>
        <p style="color:white"><b style="text-decoration:underline">Prénom</b> : <span style="color:white">{{ utilisateur.prenom }}</span></p>
        <p style="color:white"><b style="text-decoration:underline">Pseudo</b> : <span style="color:white">{{ utilisateur.pseudo }}</span></p>
        <p style="color:white"><b style="text-decoration:underline">Email</b> : <span style="color:white">{{ utilisateur.email }}</span></p>
        <hr style="color:#464545">
        <br>
        <p style="color:white">Vous pourrez modifier votre profil une fois connecté.</p>
        <br>
        <p style="color:white">Bien cordialement,</p>
        <p style="color:white">Guillaume GEORGES</p>
        <p style="color:white">07 50 89 14 66</p>
        <a href="https://www.guillaumegeorges.fr"><img src="{{ email.image('@images/logo.png') }}" height="100px" width="100px" alt="Logo" title="GG"></a>
    </div>
</div>
