<!--Footer-->
<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap text-center">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="tuileb"><p><a href="{{ path ('contact')}}" class="lien">Me contacter</a></p></div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="tuileb"><p><a href="{{ path ('mentionslegales')}}" class="lien">Mentions légales</a></p></div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="tuileb"><p><a href="{{ path ('contact')}}" class="lien">Un problème sur le site?</a></p></div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="tuileb"><p>Avez-vous consulté mes <a href="{{ path ('realisation_liste_date_creadesc')}}" class="lien">réalisations?</a></p></div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="tuileb"><p>Localisation : Manche / Mobilité : 400km</p></div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="tuileb"><p>Copyright &copy; <a href="{{ path ('curriculumvitae')}}" class="lien">Guillaume GEORGES</a> {{"now"|date("Y")}}</p></div>
    </div>
</div>